.big-calendar {
	width: 100%;
	height: 100%;
}
:root {
	--primary-text-color: #2c2c2c;
	--light-grey: #d9d9d9;
	--dark-grey: #706f6f;
}

.cal-container {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}
/*  The actual calendar container */
.big-calendar .react-calendar__month-view__days {
	/* display: grid !important;
	grid-template-columns: repeat(7, 1fr);  */
	height: 100%;

	/* gap: 0.75rem;  */
	/* margin-top: 0.2rem; */
}

.big-calendar .react-calendar {
	max-width: 100%;
	background: white;
	line-height: 1.125em;
}

.big-calendar .react-calendar--doubleView {
	width: 700px;
}

.big-calendar .react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	margin: -0.5em;
}

.big-calendar .react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}

.big-calendar .react-calendar,
.big-calendar .react-calendar *,
.big-calendar .react-calendar *:before,
.big-calendar .react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.big-calendar .react-calendar button {
	/* border: 0; */
	outline: none;
}

.big-calendar .react-calendar button:enabled:hover {
	cursor: pointer;
}

.big-calendar .react-calendar__navigation {
	display: flex;
	height: 44px;
	margin-bottom: 1em;
}

.big-calendar .react-calendar__navigation button {
	min-width: 44px;
	background: none;
}

.big-calendar .react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
}

.big-calendar .react-calendar__navigation button:enabled:hover,
.big-calendar .react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
}

.big-calendar .react-calendar__month-view__weekdays {
	text-align: center !important;
	font: inherit;
	font-weight: 400;
	display: grid !important;
	grid-template-columns: repeat(
		7,
		1fr
	) !important; /* creates 7 equal-width columns */
}

.big-calendar abbr {
	position: initial;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.big-calendar .react-calendar__tile abbr {
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	background: transparent;
	max-height: 1.5rem;
	max-width: 1.5rem;
	padding: 0.55rem;
}

.big-calendar .react-calendar__tile--active abbr {
	background: #dee9f5;
	color: #2d81e0;
}

.big-calendar .react-calendar__tile--today abbr {
	background: #2d81e0;
	color: white;
}

.big-calendar .react-calendar__month-view__weekdays__weekday {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.5rem;
	color: var(--dark-grey);
	display: flex;
	align-items: center;
	justify-content: center;
}

.big-calendar .react-calendar__month-view__weekdays__weekday--active {
	padding: 0.5em;
	font-size: 1rem;
}
.big-calendar .react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font: inherit;
	font-size: 0.75em;
	font-weight: bold;
}

.big-calendar .react-calendar__month-view__days__day {
	/* box-sizing: border-box; */
	font-weight: 400;
	color: var(--primary-text-color);
}

.big-calendar .react-calendar__month-view__days__day--weekend {
	color: var(--primary-text-color);
}

.big-calendar .react-calendar__month-view__days__day--neighboringMonth,
.big-calendar .react-calendar__decade-view__years__year--neighboringDecade,
.big-calendar
	.react-calendar__century-view__decades__decade--neighboringCentury {
	color: var(--light-grey);
}

.big-calendar .react-calendar__year-view .react-calendar__tile,
.big-calendar .react-calendar__decade-view .react-calendar__tile,
.big-calendar .react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}

.big-calendar .react-calendar__tile {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	background: none;
	font: inherit;
	font-size: 0.75rem;
	font-weight: 400;
	overflow: visible !important;
	/* padding: revert !important; */
	/* padding: 0.1rem; */
	/* max-height: 6rem; */
	height: 100%;
	width: 100%;
}
@media screen and (max-height: 1200px) {
	.big-calendar .react-calendar__tile {
		height: 6.5rem;
		width: 6.5rem;
	}
}

@media screen and (max-height: 975px) {
	.big-calendar .react-calendar__tile {
		height: 6rem;
		width: 6rem;
	}
}
@media screen and (max-height: 850px) {
	.big-calendar .react-calendar__tile {
		height: 5.5rem;
		width: 5.5rem;
		font-size: 0.65rem;
	}
	.big-calendar .react-calendar__tile abbr {
		max-height: 1rem;
		max-width: 1rem;
		padding: 0.55rem;
	}
}

@media screen and (max-height: 750px) {
	.big-calendar .react-calendar__tile {
		height: 5rem;
		width: 5rem;
	}
}

@media screen and (max-height: 650px) {
	.big-calendar .react-calendar__tile {
		height: 4rem;
		width: 4rem;
	}
}
@media screen and (max-height: 550px) {
	.big-calendar .react-calendar__tile {
		height: 3rem;
		width: 3rem;
	}
}

.big-calendar .react-calendar__tile:not(:last-child) {
	/* existing styles */
	/* margin-bottom: 0.75rem; */
}

/* .react-calendar__tile:nth-child(7n + 1),
.react-calendar__tile:nth-child(7n + 2),
.react-calendar__tile:nth-child(7n + 3),
.react-calendar__tile:nth-child(7n + 4),
.react-calendar__tile:nth-child(7n + 5),
.react-calendar__tile:nth-child(7n + 6) {
	margin-right: 0.75rem;
} */

.big-calendar .react-calendar__tile:disabled {
	background-color: white;
	color: #ababab;
}

.big-calendar .react-calendar__month-view__days__day--neighboringMonth:disabled,
.big-calendar
	.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.big-calendar
	.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
	color: #cdcdcd;
}

.big-calendar .react-calendar__tile:enabled:hover {
	opacity: 1;
}

.big-calendar .react-calendar__tile:enabled:hover img {
	opacity: 0.6;
}
.big-calendar .react-calendar__tile:enabled:focus {
	background-color: white;
}

/* Set the color for today's date */
.big-calendar .react-calendar__tile--now {
	background: white;
}

/* Today's date */
.big-calendar .react-calendar__tile--now:enabled:hover,
.big-calendar .react-calendar__tile--now:enabled:focus {
	background: white;
}

.big-calendar .react-calendar__tile--hasActive {
	background: #76baff;
}

.big-calendar .react-calendar__tile--hasActive:enabled:hover,
.big-calendar .react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}

.big-calendar .react-calendar__tile--active {
	/* background: #006edc; */
	color: white;
}

.big-calendar .react-calendar__tile--active:enabled:hover,
.big-calendar .react-calendar__tile--active:enabled:focus {
	background: white;
}

.big-calendar .react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}

/* Dropdown */

.big-calendar .calendar-heading {
	position: relative;
}

.big-calendar .calendar-heading.dropdown-open {
	background-color: #dee9f5;
}
.big-calendar .calendar-dropdown {
	position: absolute;
	top: 120%;
	left: 0%;
	/* left: 50%;
	transform: translateX(-50%); */
	background-color: #fafcff;
	border: 1px solid #dee9f5;
	padding: 0.75rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
	width: fit-content;
	border-radius: 0.5rem;
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
}
.big-calendar .calendar-dropdown-year {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 0.875rem;
	padding: 0 0.375rem;
}
.big-calendar .calendar-dropdown-months {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.75rem;
}
.big-calendar .calendar-dropdown-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.4375rem 0.375rem;
	cursor: pointer;
	font-size: 0.75rem;
	font-weight: 400;
	color: #706f6f;
}

.big-calendar .calendar-dropdown-item:hover {
	background-color: #dee9f5;
	border-radius: 0.5rem;
}

.big-calendar .selected-month {
	background-color: #2d81e0;
	color: white;
	border-radius: 0.5rem;
}

.big-calendar .mood-icon {
	width: 4rem;
	height: 4rem;
}
