.grid-container {
	display: grid;
	grid-template-columns: min-content auto;
	height: 100vh;
	box-sizing: border-box;
	gap: 1rem;
	background-color: #f3f5f9;
	overflow-x: hidden;
}

.main-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content auto;
	/* height: 97vh; */
	gap: 0.5rem 0.5rem;
	box-sizing: border-box;
	overflow: auto;
}

.top-bar {
	height: 2.94rem;
	margin-top: 0.5rem;
	margin-bottom: 1.88rem;
}
.content {
	display: flex;
	height: 95%;
	gap: 1rem;
	width: 100%;
	padding-right: 1rem;
	/* height: 54.125rem; */
	/* margin-bottom: 6rem; */
	overflow: auto;
	/* height: 54.125rem; */
}
.main-content {
	/* height: 95%; */
	height: 100%;
	width: 67%;
	box-sizing: border-box;
}
.nav {
	grid-column: 1 / span 2;
	box-sizing: border-box;
	height: 100%;
}

.nav-container {
	grid-template-columns: 3fr 1fr;
	box-sizing: border-box;
	height: 100%;
}
.sidebar {
	background-color: #f0f0f0; /* Adjust as needed */
	height: 100vh;
	box-sizing: border-box;
	width: 16rem;
}

.main {
	background-color: #fff; /* Adjust as needed */
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
}

.right-bar {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	box-sizing: border-box;
	padding-right: 1rem;
	width: 33%;
}

.right-bar-container {
	display: grid;
	grid-template-rows: min-content auto min-content;
	max-height: 100%;
}

.navbar {
	grid-column: 2 / span 2;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.content.right-bar-collapsed {
	/* grid-template-columns: 1fr 4rem; */

	.main-content {
		width: 95%;
	}
	.right-bar {
		width: 5%;
	}
}
