.mini-calendar :root {
	--primary-text-color: #2c2c2c;
	--light-grey: #d9d9d9;
	--dark-grey: #706f6f;
}
.mini-calendar .react-calendar {
	width: 100%;
	max-width: 100%;
	background: white;
	line-height: 1.125em;
}

.mini-calendar .react-calendar--doubleView {
	width: 700px;
}

.mini-calendar .react-calendar--doubleView .react-calendar__viewContainer {
	display: flex;
	/* margin: -0.5em; */
}

.mini-calendar .react-calendar--doubleView .react-calendar__viewContainer > * {
	width: 50%;
	margin: 0.5em;
}

.mini-calendar .react-calendar,
.mini-calendar .react-calendar *,
.mini-calendar .react-calendar *:before,
.mini-calendar .react-calendar *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mini-calendar .react-calendar button {
	/* border: 0; */
	outline: none;
}

.mini-calendar .react-calendar button:enabled:hover {
	cursor: pointer;
}

.mini-calendar .react-calendar__navigation {
	display: flex;
	height: 44px;
	margin-bottom: 1em;
}

.mini-calendar .react-calendar__navigation button {
	min-width: 44px;
	background: none;
}

.mini-calendar .react-calendar__navigation button:disabled {
	background-color: #f0f0f0;
}

.mini-calendar .react-calendar__navigation button:enabled:hover,
.mini-calendar .react-calendar__navigation button:enabled:focus {
	background-color: #e6e6e6;
}

.mini-calendar .react-calendar__month-view__weekdays {
	text-align: center;
	font: inherit;
	font-weight: 400;
}

.mini-calendar abbr {
	position: initial;
	height: 1.5rem;
	width: 1.5rem;
	text-decoration: none;
}

.mini-calendar .react-calendar__tile abbr {
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	background: transparent;
	/* bottom: 1rem; */
}
.mini-calendar .react-calendar__tile--active abbr {
	background: #2d81e0;
	color: white;
}

.mini-calendar .react-calendar__month-view__weekdays__weekday {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.5rem;
	color: var(--dark-grey);
}

.mini-calendar .react-calendar__month-view__weekdays__weekday--active {
	padding: 0.5em;
	font-size: 1rem;
}
.mini-calendar .react-calendar__month-view__weekNumbers .react-calendar__tile {
	display: flex;
	align-items: center;
	justify-content: center;
	font: inherit;
	font-size: 0.75em;
	font-weight: bold;
}

.mini-calendar .react-calendar__month-view__days__day {
	font-weight: 400;
	color: var(--primary-text-color);
}

.mini-calendar .react-calendar__month-view__days__day--weekend {
	color: var(--primary-text-color);
}

.mini-calendar .react-calendar__month-view__days__day--neighboringMonth,
.mini-calendar .react-calendar__decade-view__years__year--neighboringDecade,
.mini-calendar
	.react-calendar__century-view__decades__decade--neighboringCentury {
	color: var(--light-grey);
}

.mini-calendar .react-calendar__year-view .react-calendar__tile,
.mini-calendar .react-calendar__decade-view .react-calendar__tile,
.mini-calendar .react-calendar__century-view .react-calendar__tile {
	padding: 2em 0.5em;
}

.mini-calendar .react-calendar__tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	width: 1.25rem;
	/* height: 3rem !important; */
	height: fit-content;
	background: none;
	font: inherit;
	font-size: 0.75rem;
	font-weight: 400;
	overflow: visible !important;
	/* margin: 0 0 !important; */
	/* margin: 1em 0; */
}

.mini-calendar .react-calendar__tile:not(:last-child) {
	/* existing styles */
	margin-bottom: 0.75rem;
}

.mini-calendar .react-calendar__tile:nth-child(7n + 1),
.mini-calendar .react-calendar__tile:nth-child(7n + 2),
.mini-calendar .react-calendar__tile:nth-child(7n + 3),
.mini-calendar .react-calendar__tile:nth-child(7n + 4),
.mini-calendar .react-calendar__tile:nth-child(7n + 5),
.mini-calendar .react-calendar__tile:nth-child(7n + 6) {
	margin-right: 0.75rem;
}

.mini-calendar .react-calendar__tile:disabled {
	background-color: white;
	color: #ababab;
}

/*  The actual calendar container */
.mini-calendar .react-calendar__month-view__days {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0.2rem;
	/* justify-content: space-between; */
}
.mini-calendar
	.react-calendar__month-view__days__day--neighboringMonth:disabled,
.mini-calendar
	.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.mini-calendar
	.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
	color: #cdcdcd;
}

.mini-calendar .react-calendar__tile:enabled:hover {
	background-color: #e6e6e6;
}

.mini-calendar .react-calendar__tile:enabled:focus {
	background-color: white;
}

/* Set the color for today's date */
.mini-calendar .react-calendar__tile--now {
	background: white;
}

/* Today's date */
.mini-calendar .react-calendar__tile--now:enabled:hover,
.mini-calendar .react-calendar__tile--now:enabled:focus {
	background: white;
}

.mini-calendar .react-calendar__tile--hasActive {
	background: #76baff;
}

.mini-calendar .react-calendar__tile--hasActive:enabled:hover,
.mini-calendar .react-calendar__tile--hasActive:enabled:focus {
	background: #a9d4ff;
}

.mini-calendar .react-calendar__tile--active {
	/* background: #006edc; */
	color: white;
}

.mini-calendar .react-calendar__tile--active:enabled:hover,
.mini-calendar .react-calendar__tile--active:enabled:focus {
	background: white;
}

.mini-calendar .react-calendar--selectRange .react-calendar__tile--hover {
	background-color: #e6e6e6;
}

/* Dropdown */

.mini-calendar .calendar-heading {
	position: relative;
}

.mini-calendar .calendar-heading.dropdown-open {
	background-color: #dee9f5;
}
.mini-calendar .calendar-dropdown {
	position: absolute;
	top: 120%;
	left: 0%;
	/* left: 50%;
	transform: translateX(-50%); */
	background-color: #fafcff;
	border: 1px solid #dee9f5;
	padding: 0.75rem;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
	width: fit-content;
	border-radius: 0.5rem;
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
}
.mini-calendar .calendar-dropdown-year {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 0.875rem;
	padding: 0 0.375rem;
}
.mini-calendar .calendar-dropdown-months {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.75rem;
}
.mini-calendar .calendar-dropdown-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.4375rem 0.375rem;
	cursor: pointer;
	font-size: 0.75rem;
	font-weight: 400;
	color: #706f6f;
}

.mini-calendar .calendar-dropdown-item:hover {
	background-color: #dee9f5;
	border-radius: 0.5rem;
}

.mini-calendar .selected-month {
	background-color: #2d81e0;
	color: white;
	border-radius: 0.5rem;
}

.mini-calendar .dot {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #2d81e0;
}
