.header {
	font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.938rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header svg {
	display: inline-block;
	vertical-align: top;
}

.header h1 {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1;
	margin: 0.375px 0 0.375px 0.625px;
	display: inline-block;
	vertical-align: top;
}

.header button + button {
	margin-left: 0.625rem;
}

.header .welcome {
	color: #333;
	font-size: 0.875rem;
	margin-right: 0.625rem;
}
